* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.code-wrapper{
    padding: 10px;
}
.code-wrapper,
.preview-wrapper{
    height: 50%;
    flex: 1;
}
#code{
    overflow: hidden;
    height: 100%;
}
.actions{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.actions > button{
    margin: 10px;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    background: #0077E6;
    border:none;
}
.actions > button.active{
    opacity: 0.8;
}